li {
  list-style-type: none;
}

.custom-income-graph-container.default-container {
  height: 45rem;
  width: 70rem;
  background-color: rgb(40, 40, 40);
  border-radius: 20px;
}

.custom-income-graph-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-income-form {
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.options-list-item > input {
  accent-color: rgb(255, 122, 60);
  background-color: rgb(255, 122, 60);
  color: rgb(255, 122, 60);
}

.area-chart-container {
  height: 30rem;
  width: 60rem;
}
