.home-container {
  background-color: rgb(18, 18, 18);
  height: 100%;
  width: 100%;
  color: white;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr 10fr;
}

/* moving stocks */
.moving-stocks-container {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.moving-percent {
  color: rgb(12, 198, 12);
}

.moving-left {
  display: flex;
  justify-content: flex-start;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.moving {
  animation: scroll-left 2s linear infinite;
  padding-left: 10%;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.key-stocks-container {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  justify-content: center;
  border-top: solid 2px rgb(40, 40, 40);
}

.key-stocks-title {
  font-weight: bold;
}

.key-stocks-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.individual-key-stock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-news-container {
  height: 50rem;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 2rem;
}

.home-most-searched-container {
  grid-column-start: 2;
  grid-column-end: 3;
}

.home-news-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.individual-news-container {
  background-color: rgb(40, 40, 40);
  height: 15rem;
  width: 50rem;
  padding: 2rem;
  border-radius: 15px;
  margin-top: 2rem;
}

.news-title {
  font-size: 1.5rem;
}

.news-image > img {
  height: 13rem;
}

.news-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.news-information {
  display: flex;
  flex-direction: column;
}

.most-searched-title {
  font-size: 2rem;
  font-weight: bold;
}

.most-searched-name,
.most-searched-price {
  font-weight: 1.2rem;
  font-weight: bold;
}

.most-searched-percent {
  color: green;
  background-color: rgba(188, 251, 188, 0.496);
  font-weight: bold;
  height: 2rem;
  width: 5rem;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.most-searched-individual {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
