.table > table {
  background-color: rgb(40, 40, 40);
  color: white;
}

.income.table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table-title {
  margin-top: 2rem;
  color: white;
  font-size: 1.5rem;
}

tr {
  color: white;
  height: 5rem;
}

td {
  height: 2rem;
  border: 1px solid #dddddd;
  padding: 1rem;
  text-align: center;
}

.table {
  background-color: rgb(40, 40, 40);
  padding: 3rem;
  width: 65rem;
  border-radius: 20px;
}

.table tbody td:nth-of-type(even) {
  background-color: rgb(62, 62, 62);
}
