.table > table {
  background-color: rgb(40, 40, 40);
  color: white;
}

tr {
  color: white;
}

td {
  color: white;
}

.table {
  background-color: rgb(40, 40, 40);
  padding: 3rem;
  width: 65rem;
  border-radius: 20px;
}
