.price-history-container {
  height: 25rem;
  width: 30rem;
  background-color: white;
  padding: 1rem;
  margin-top: 2rem;
  /* marker remove margin when I add in css grid */
}

.time-frame-switch-container {
  display: flex;
  gap: 1rem;
}

.time-frame-switch-container > div {
  padding: 0.5rem;
}

.time-frame-switch-container > div:hover {
  background-color: rgb(246, 243, 243);
}

.price-history-title {
  font-size: 1.2rem;
  font-weight: bold;
}
